.bg-none {
    background-color: transparent;
  }
  
  .bg-primary {
    background-color: var(--primary);
  }
  
  .bg-secondary {
      background-color: var(--secondary);
  }
  
  .bg-highlight {
      background-color: var(--highlight);
  }
  
  .bg-transparent{
      background-color: transparent;
  }