@for $i from 1 through 50 {
    .p-#{$i} {
      padding: #{$i}rem;
    }
  
    .pl-#{$i} {
      padding-left: #{$i}rem;
    }
  
    .pr-#{$i} {
      padding-right: #{$i}rem;
    }
  
    .pt-#{$i} {
      padding-top: #{$i}rem;
    }
  
    .pb-#{$i} {
      padding-bottom: #{$i}rem;
    }
  
    .px-#{$i} {
      padding-right: #{$i}rem;
      padding-left: #{$i}rem;
    }
  
    .py-#{$i} {
      padding-top: #{$i}rem;
      padding-bottom: #{$i}rem;
    }
}